<img class="jiiwa-logo" src=" <%= asset_path 'jiwa_logo.png' %>"/>

<div class="video-wrapper">
  <iframe class="video" width="640" height="360" src="//www.youtube.com/embed/2d9DWw_eLwA" frameborder="0" allowfullscreen></iframe>
</div>

<div class="facebook-wrapper">
  <div class="fb-share-button" data-href="http://www.jiiwa.com" data-width="250" data-layout="button"></div>
</div>

<div class="twitter-wrapper">
  <a href="https://twitter.com/intent/tweet?button_hashtag=ChangeGiving&text=I%20want%20to%20help%20jiiwa%2C%20help%20me" class="twitter-hashtag-button" data-size="large" data-related="TargetCanada,Loblaws">Tweet #ChangeGiving</a>    
</div> 





<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>